Azure/AzureHackathon/TextToSpeech/Logic app code view.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_file": {
                "inputs": {
                    "body": "@body('Text_to_speech')",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/AzureLogicApps",
                        "name": "@{triggerBody()?['TweetId']}@{triggerBody()?['CreatedAtIso']}"
                    }
                },
                "runAfter": {
                    "Text_to_speech": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Send_an_email_(V2)": {
                "inputs": {
                    "body": {
                        "Attachments": [
                            {
                                "ContentBytes": "@{base64(body('Text_to_speech'))}",
                                "Name": "@{triggerBody()?['TweetedBy']}@{triggerBody()?['TweetText']}"
                            }
                        ],
                        "Body": "<p>@{triggerBody()?['TweetedBy']} tweeted @{triggerBody()?['TweetText']} end of the tweet @{triggerBody()?['CreatedAtIso']}</p>",
                        "Subject": "@{triggerBody()?['TweetedBy']} Tweeted ",
                        "To": "YOUR_EMAIL_ADDRESS"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Text_to_speech": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Text_to_speech": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['microsofttranslator']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Speak",
                    "queries": {
                        "format": "audio/mp3",
                        "language": "en",
                        "options": "MinSize",
                        "query": "@{triggerBody()?['TweetedBy']} tweeted @{triggerBody()?['TweetText']} end of the tweet @{triggerBody()?['CreatedAtIso']}"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_tweet_is_posted": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/onnewtweet",
                    "queries": {
                        "searchQuery": "from:@jack"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3,
                    "timeZone": "W. Europe Standard Time"
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "microsofttranslator": {
                    "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/sapHackathonNE/providers/Microsoft.Web/connections/microsofttranslator-3",
                    "connectionName": "microsofttranslator-3",
                    "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/northeurope/managedApis/microsofttranslator"
                },
                "office365_1": {
                    "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/sapHackathonNE/providers/Microsoft.Web/connections/office365-3",
                    "connectionName": "office365-3",
                    "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
                },
                "onedrive": {
                    "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/sapHackathonNE/providers/Microsoft.Web/connections/onedrive",
                    "connectionName": "onedrive",
                    "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/northeurope/managedApis/onedrive"
                },
                "twitter": {
                    "connectionId": "/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/sapHackathonNE/providers/Microsoft.Web/connections/twitter",
                    "connectionName": "twitter",
                    "id": "/subscriptions/YOUR_SUBSCRIPTION_ID/providers/Microsoft.Web/locations/northeurope/managedApis/twitter"
                }
            }
        }
    }
}
